.boxHeader {
  background-color: #FFF;
  height: 81.8px;
  border-bottom: 1px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  font-weight: bold;
}

